<% if (success_msg) {%>
    <div class="alert alert-success alert-server" id="succesMsg"><%= success_msg %></div>
<% }%>
<% if (error_msg) {%>
    <div class="alert alert-danger alert-server" id="errorMsg"><%= error_msg %></div>
<% }%>
