<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 -col-sx-12 segment-one">
                <h3>Resumo</h3>
                <p>Os motores elétricos desempenham um importante papel no acionamento de máquinas nos processos industriais dos mais variados segmentos do mercado.</p>
            </div>
            <div class="col-md-3 col-sm-6 -col-sx-12 segment-two">
                <h2>Resumo</h2>
                <ul>
                    <li><a href="#"></a>Event</li>
                    <li><a href="#"></a>Support</li>
                    <li><a href="#"></a>Hosting</li>
                    <li><a href="#"></a>Carrer</li>
                    <li><a href="#"></a>Blog</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 -col-sx-12 segment-three">
                <h2>Siga-nos</h2>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-md-3 col-sm-6 -col-sx-12 segment-four">
                <h2>Noticias</h2>
                <form action="">
                    <input type="email">
                    <input type="submit" value="Increver-se">
                </form>
            </div>
        </div>
    </div>
</div>