<h3 id="title">Login: </h3>
<div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <form action="/usuario/login" method="post">
            <label for="email">Email: </label>
                <input type="email" name="email" id="email" class="form-control" required>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" id="senha" class="form-control" required>
            <button type="submit" class="btn btn-success mt-4">Entrar</button>
        </form>
        <hr>
        <small>Não tem uma conta? <a href="/usuario/registro">Registrar-se</a></small>
        
    </div>
</div>
